@model IEnumerable<BasketballMVC.Models.Basketball>

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />

        </div>
    </div>
</div>

<table id="bballTable" class="table table-stripped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Basketball Id</th>
            <th>Exercise</th>
            <th>Player Name</th>
            <th>Exercise Duration</th>
            <th>Exercise Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Item in Model)
        {
            <tr class="Search">
                <td>@Item.BallId</td>
                <td>@Item.PlayerName</td>
                <td>@Item.Exercise</td>
                <td>@Item.ExerciseDate</td>
                <td>@Item.ExerciseDuration</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        function Contains(a, b) {
            if (a.indexOf(b) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val.toLowerCase();
            $(".Search").each(function () {
                if (!Contains()($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })

        })
    });

</script>

